<div class="header">
  <h1>Do you like burgers?</h1>
  <h5>(It's okay, we all do :D)</h5>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-xs-4">
			<h4>Burgers you'd like to devour</h4>
			<form method="POST" action="/add" class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail3">Burger_Want</label>
					<input type="text" class="form-control" placeholder="Triple Mega Burger" name="burger_name" value={{this.id}}>
				</div>
				<button type="submit" class="btn btn-default">Ate it!</button>
			</form>
			<table class="table table-bordered">
				<thead>
					<th>Burgerzzz Name</th>
				</thead>
				{{#each burgers_data}} {{#if this.devoured}}
				<tbody>
					<td>
						<form method="POST" action="/devour">
							{{this.burger_name}}
							<input type="hidden" type="text" name="id" value={{this.id}}>
							<button type="submit" class="btn btn-warning pull-right"> Eat It </button>
						</form>
					</td>
				</tbody>
				{{/if}} {{/each}}
			</table>
		</div>
		<div class="col-xs-4 col-md-4">
			<img src="http://24.media.tumblr.com/2b614d23b694e6a843b3f59d7e1cda41/tumblr_mn1ytcEZS81s84p5fo1_500.gif" alt="" />
		</div>
		<div class="col-xs-4 col-md-4">
			<h4>Burgers you've devoured</h4>
			<form method="POST" action="/devour" class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="exampleInputEmail3">Burger_Want</label>
					<input type="text" class="form-control" placeholder="Triple Mega Burger" name="burger_name" value={{this.id}}>
				</div>
				<button type="submit" class="btn btn-default">Ate it!</button>
			</form>
			<table class="table table-bordered">
				<thead>
					<th>Burger Name</th>
				</thead>
				{{#each burgers_data}} {{#if this.ready}}
				<tbody>
					<td>
						<form method="POST" action="/delete?_method=DELETE">
							{{this.burger_name}}
							<input type="hidden" type="text" name="id" value={{this.id}}>
							<button type="submit" class="btn btn-warning pull-right"> Delete It </button>
						</form>
					</td>
				</tbody>
				{{/if}} {{/each}}
			</table>
		</div>
	</div>
</div>
